<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true" doStaticCompression="true" />
		<handlers>
			<remove name="PHP_via_FastCGI"/>
		</handlers>
		<httpErrors errorMode="Detailed"/>
		<staticContent>
			<clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT"/>
			<mimeMap fileExtension=".js.gz" mimeType="application/javascript"/>
			<remove fileExtension=".eot"/>
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
			<remove fileExtension=".ttf"/>
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
		</staticContent>
		<rewrite>
			<rules>
				<rule enabled="true" name="HTTPS force" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action redirectType="Permanent" type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
				</rule>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match ignoreCase="false" url="^"/>
					<conditions>
						<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add ignoreCase="false" input="{URL}" pattern="(.+)/$"/>
					</conditions>
					<action redirectType="Permanent" type="Redirect" url="{C:1}"/>
				</rule>
				<rule name="Fonts" stopProcessing="true">
					<match url="([\S]+[.](woff|woff2|ttf|eot))"/>
					<action type="Rewrite" url="public/{R:1}"/>
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match ignoreCase="false" url="^"/>
					<conditions>
						<add input="{URL}" negate="true" pattern="(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$"/>
						<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php"/>
				</rule>
				<rule name="Imported Rule 3" stopProcessing="true">
					<match url="^(css|js|images)/(.*)$"/>
					<conditions>
						<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add ignoreCase="false" input="{URL}" negate="true" pattern="^/public/"/>
					</conditions>
					<action type="Rewrite" url="public/{R:1}/{R:2}"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
		<customErrors mode="on"/>
		<compilation debug="true"/>
	</system.web>
</configuration>