<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
      <dynamicTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="false" mimeType="*/*"/>
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <handlers>
      <remove name="PHP_via_FastCGI"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule enabled="true" name="HTTPS force" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action redirectType="Permanent" type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match ignoreCase="false" url="^"/>
          <conditions>
            <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add ignoreCase="false" input="{URL}" pattern="(.+)/$"/>
          </conditions>
          <action redirectType="Permanent" type="Redirect" url="{C:1}"/>
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match ignoreCase="false" url="^"/>
          <conditions>
            <add input="{URL}" negate="true" pattern="(\.woff|.\woff2|\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$"/>
            <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php"/>
        </rule>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url="^(woff|woff2|css|js|images)/(.*)$"/>
          <conditions>
            <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add ignoreCase="false" input="{URL}" negate="true" pattern="^/public/"/>
          </conditions>
          <action type="Rewrite" url="public/{R:1}/{R:2}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="on"/>
    <compilation debug="true"/>
  </system.web>
</configuration>